In [2]:
import json
from dateutil import parser
import time
import os
import subprocess
import urllib
import urllib.request
import pandas as pd
import unidecode
from unidecode import unidecode
import requests
import urllib
from urllib import parse
import sys
import base64
import numpy as np
import re
import pymysql
# import MySQLdb
import base64
import datetime
from datetime import datetime
import easydict
from collections import defaultdict
import pickle
import pprint
from pprint import pprint
import urllib
import pandas as pd
import numpy as np
import json
import requests
import boto3
import matplotlib.pyplot as plt
import pymysql

In [3]:
# IMPORT STUBHUB
s3_client = boto3.client('s3')
bucket = 'willjeventdata'
key = 'stubhub_events.pkl'
response = s3_client.get_object(Bucket=bucket, Key=key)
event_dict = (response['Body'].read())
event_json = json.loads(event_dict.decode('utf8'))
stubhub_event_df = pd.DataFrame.from_dict(event_json)

In [4]:
# IMPORT TICKETMASTER
s3_client = boto3.client('s3')
bucket = 'willjeventdata'
key = 'ticketmaster_events.pkl'
response = s3_client.get_object(Bucket=bucket, Key=key)
event_dict = (response['Body'].read())
event_json = json.loads(event_dict.decode('utf8'))
ticketmaster_event_df = pd.DataFrame.from_dict(event_json)

In [5]:
# IMPORT EVENTBRITE
s3_client = boto3.client('s3')
bucket = 'willjeventdata'
key = 'eventbrite_events.pkl'
response = s3_client.get_object(Bucket=bucket, Key=key)
event_dict = (response['Body'].read())
event_json = json.loads(event_dict.decode('utf8'))
eventbrite_event_df = pd.DataFrame.from_dict(event_json)

In [6]:
# IMPORT SEATGEEK
s3_client = boto3.client('s3')
bucket = 'willjeventdata'
key = 'seatgeek_events.pkl'
response = s3_client.get_object(Bucket=bucket, Key=key)
event_dict = (response['Body'].read())
event_json = json.loads(event_dict.decode('utf8'))
seatgeek_event_df = pd.DataFrame.from_dict(event_json)

In [9]:
stubhub_test_df = stubhub_event_df.sort_values(by=['artist', 'date_UTC']).head(10000)
ticketmaster_test_df = ticketmaster_event_df.sort_values(by=['artist', 'date_UTC']).head(10000)

In [11]:
test_concat = pd.concat([stubhub_test_df, ticketmaster_test_df], ignore_index = True).sort_values(by=['artist', 'date_UTC'])

C:\Users\bswxj01\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

In [12]:
print(test_concat.head(1000))

              ID     artist               artist_id attraction_name  \
0      104212556  070 Shake                                     NaN
1      104212570  070 Shake                                     NaN
2      104124735  070 Shake                                     NaN
3      104226718  070 Shake                                     NaN
4      104222281  070 Shake                                     NaN
5      104213856  070 Shake                                     NaN
6      104226648  070 Shake                                     NaN
7      104237271  070 Shake                                     NaN
8      104294263  070 Shake                                     NaN
9      104212581  070 Shake                                     NaN
10     104213920  070 Shake                                     NaN
11     104242384  070 Shake                                     NaN
12     104213926  070 Shake                                     NaN
10000        NaN  070 Shake  12Zk1DFhCbHY6v3xep2ZjI       070 Shake
10001        NaN  070 Shake  12Zk1DFhCbHY6v3xep2ZjI       070 Shake
10002        NaN  070 Shake  12Zk1DFhCbHY6v3xep2ZjI       070 Shake
10003        NaN  070 Shake  12Zk1DFhCbHY6v3xep2ZjI       070 Shake
10004        NaN  070 Shake  12Zk1DFhCbHY6v3xep2ZjI       070 Shake
10005        NaN  070 Shake  12Zk1DFhCbHY6v3xep2ZjI       070 Shake
10006        NaN  070 Shake  12Zk1DFhCbHY6v3xep2ZjI       070 Shake
10007        NaN  070 Shake  12Zk1DFhCbHY6v3xep2ZjI       070 Shake
10008        NaN  070 Shake  12Zk1DFhCbHY6v3xep2ZjI       070 Shake
10009        NaN  070 Shake  12Zk1DFhCbHY6v3xep2ZjI       070 Shake
10010        NaN  070 Shake  12Zk1DFhCbHY6v3xep2ZjI       070 Shake
10011        NaN  070 Shake  12Zk1DFhCbHY6v3xep2ZjI       070 Shake
10012        NaN  070 Shake  12Zk1DFhCbHY6v3xep2ZjI       070 Shake
10013        NaN  070 Shake  12Zk1DFhCbHY6v3xep2ZjI       070 Shake
10014        NaN  070 Shake  12Zk1DFhCbHY6v3xep2ZjI       070 Shake
10015        NaN  070 Shake  12Zk1DFhCbHY6v3xep2ZjI       070 Shake
10016        NaN  070 Shake  12Zk1DFhCbHY6v3xep2ZjI       070 Shake
...          ...        ...                     ...             ...
870         None      11:11                                     NaN
871         None      11:11                                     NaN
872         None      11:11                                     NaN
873         None      11:11                                     NaN
874         None      11:11                                     NaN
875         None      11:11                                     NaN
876         None      11:11                                     NaN
877         None      11:11                                     NaN
878         None      11:11                                     NaN
879         None      11:11                                     NaN
880         None      11:11                                     NaN
881         None      11:11                                     NaN
882         None      11:11                                     NaN
883         None      11:11                                     NaN
884         None      11:11                                     NaN
885         None      11:11                                     NaN
886         None      11:11                                     NaN
887         None      11:11                                     NaN
888         None      11:11                                     NaN
889         None      11:11                                     NaN
890         None      11:11                                     NaN
891         None      11:11                                     NaN
892         None      11:11                                     NaN
893         None      11:11                                     NaN
894         None      11:11                                     NaN
895         None      11:11                                     NaN
896         None      11:11                                     NaN
897         None      11:11                                     NaN
898         None      11:11                                     NaN
899         None      11:11                                     NaN

                 city      create_ts              date_UTC  \
0         Los Angeles  1566777621011         1568862000000
1       San Francisco  1566777621011         1568948400000
2           Las Vegas  1566777621011         1569009540000
3      Salt Lake City  1566777621011         1569376800000
4              Dallas  1566777621011         1569632400000
5             Houston  1566777621011         1569718800000
6             Chicago  1566777621011         1570064400000
7             Detroit  1566777621011         1570242600000
8             Toronto  1566777621011         1570404600000
9              Boston  1566777621011         1570579200000
10           New York  1566777621011         1570665600000
11         Washington  1566777621011         1570748400000
12       Philadelphia  1566777621011         1570924800000
10000          Dallas  1566778292266  2019-09-28T00:00:00Z
10001          Dallas  1566780826567  2019-09-28T00:00:00Z
10002          Dallas  1566788750738  2019-09-28T00:00:00Z
10003          Dallas  1566799499176  2019-09-28T00:00:00Z
10004          Dallas  1566808498029  2019-09-28T00:00:00Z
10005          Dallas  1566817501096  2019-09-28T00:00:00Z
10006          Dallas  1566826498798  2019-09-28T00:00:00Z
10007          Dallas  1566835405488  2019-09-28T00:00:00Z
10008          Dallas  1566844336157  2019-09-28T00:00:00Z
10009          Dallas  1566853331197  2019-09-28T00:00:00Z
10010         Houston  1566778292266  2019-09-29T00:00:00Z
10011         Houston  1566780826567  2019-09-29T00:00:00Z
10012         Houston  1566788750738  2019-09-29T00:00:00Z
10013         Houston  1566799499176  2019-09-29T00:00:00Z
10014         Houston  1566808498029  2019-09-29T00:00:00Z
10015         Houston  1566817501096  2019-09-29T00:00:00Z
10016         Houston  1566826498798  2019-09-29T00:00:00Z
...               ...            ...                   ...
870         Las Vegas  1568158362904         1568221200000
871         Las Vegas  1568158362904         1568221200000
872         Las Vegas  1568158362904         1568221200000
873           Waldorf  1568158362904         1568221200000
874         Las Vegas  1568163923861         1568221200000
875         Las Vegas  1568163923861         1568221200000
876           Waldorf  1568163923861         1568221200000
877           Waldorf  1568181768207         1568221200000
878         Las Vegas  1568181768207         1568221200000
879         Las Vegas  1568181768207         1568221200000
880         Las Vegas  1568190763145         1568221200000
881           Waldorf  1568190763145         1568221200000
882         Las Vegas  1568199763399         1568221200000
883         Las Vegas  1568199763399         1568221200000
884           Waldorf  1568199763399         1568221200000
885         Las Vegas  1568208759981         1568221200000
886         Las Vegas  1568208759981         1568221200000
887           Waldorf  1568208759981         1568221200000
888          New York  1567577303829         1568224740000
889          New York  1567645410352         1568224740000
890          New York  1567672605483         1568224740000
891          New York  1567681757315         1568224740000
892          New York  1567699656633         1568224740000
893          New York  1567717448248         1568224740000
894          New York  1567741110061         1568224740000
895          New York  1567794806011         1568224740000
896          New York  1567803805372         1568224740000
897          New York  1567812809945         1568224740000
898          New York  1567872599251         1568224740000
899          New York  1567899513754         1568224740000

      event_highest_price        event_id event_lowest_price highest_price  \
0                     NaN            None                NaN         78.71
1                     NaN            None                NaN        109.71
2                     NaN            None                NaN          7500
3                     NaN            None                NaN        101.27
4                     NaN            None                NaN           147
5                     NaN            None                NaN           186
6                     NaN            None                NaN        170.48
7                     NaN            None                NaN         85.44
8                     NaN            None                NaN            99
9                     NaN            None                NaN        123.37
10                    NaN            None                NaN         374.5
11                    NaN            None                NaN          40.4
12                    NaN            None                NaN           149
10000                  15  vvG1YZ4cjdtAFJ                 15          None
10001                  15  vvG1YZ4cjdtAFJ                 15          None
10002                  15  vvG1YZ4cjdtAFJ                 15          None
10003                  15  vvG1YZ4cjdtAFJ                 15          None
10004                  15  vvG1YZ4cjdtAFJ                 15          None
10005                  15  vvG1YZ4cjdtAFJ                 15          None
10006                  15  vvG1YZ4cjdtAFJ                 15          None
10007                  15  vvG1YZ4cjdtAFJ                 15          None
10008                  15  vvG1YZ4cjdtAFJ                 15          None
10009                  15  vvG1YZ4cjdtAFJ                 15          None
10010                  15   G5dIZ4cfeL6No                 15          None
10011                  15   G5dIZ4cfeL6No                 15          None
10012                  15   G5dIZ4cfeL6No                 15          None
10013                  15   G5dIZ4cfeL6No                 15          None
10014                  15   G5dIZ4cfeL6No                 15          None
10015                  15   G5dIZ4cfeL6No                 15          None
10016                  15   G5dIZ4cfeL6No                 15          None
...                   ...             ...                ...           ...
870                   NaN       103951201                NaN             0
871                   NaN       104006299                NaN             0
872                   NaN       104005403                NaN             0
873                   NaN       103909530                NaN            45
874                   NaN       104005403                NaN             0
875                   NaN       103951201                NaN             0
876                   NaN       103909530                NaN            45
877                   NaN       103909530                NaN            45
878                   NaN       104006299                NaN             0
879                   NaN       104005403                NaN             0
880                   NaN       104005403                NaN             0
881                   NaN       103909530                NaN            45
882                   NaN       104006299                NaN             0
883                   NaN       104005403                NaN             0
884                   NaN       103909530                NaN            45
885                   NaN       104006299                NaN             0
886                   NaN       104005403                NaN             0
887                   NaN       103909530                NaN             0
888                   NaN       103954062                NaN          2000
889                   NaN       103954062                NaN          2000
890                   NaN       103954062                NaN          2000
891                   NaN       103954062                NaN          2000
892                   NaN       103954062                NaN          2000
893                   NaN       103954062                NaN          2000
894                   NaN       103954062                NaN          2000
895                   NaN       103954062                NaN          2000
896                   NaN       103954062                NaN          2000
897                   NaN       103954062                NaN          2000
898                   NaN       103954062                NaN          2000
899                   NaN       103954062                NaN          2000

         id  listing_count lowest_price  \
0       NaN            9.0        28.89
1       NaN            8.0        28.88
2       NaN          240.0          315
3       NaN            3.0        69.62
4       NaN           13.0           25
5       NaN            3.0         26.1
6       NaN           10.0        27.89
7       NaN            8.0        53.79
8       NaN            2.0           90
9       NaN           19.0        25.93
10      NaN           38.0        41.98
11      NaN            3.0         33.1
12      NaN           15.0        34.96
10000  None            NaN         None
10001  None            NaN         None
10002  None            NaN         None
10003  None            NaN         None
10004  None            NaN         None
10005  None            NaN         None
10006  None            NaN         None
10007  None            NaN         None
10008  None            NaN         None
10009  None            NaN         None
10010  None            NaN         None
10011  None            NaN         None
10012  None            NaN         None
10013  None            NaN         None
10014  None            NaN         None
10015  None            NaN         None
10016  None            NaN         None
...     ...            ...          ...
870     NaN            0.0            0
871     NaN            0.0            0
872     NaN            0.0            0
873     NaN            2.0           29
874     NaN            0.0            0
875     NaN            0.0            0
876     NaN            2.0           29
877     NaN            2.0           29
878     NaN            0.0            0
879     NaN            0.0            0
880     NaN            0.0            0
881     NaN            2.0           29
882     NaN            0.0            0
883     NaN            0.0            0
884     NaN            2.0           29
885     NaN            0.0            0
886     NaN            0.0            0
887     NaN            0.0            0
888     NaN           47.0          120
889     NaN           47.0          120
890     NaN           46.0          120
891     NaN           46.0          120
892     NaN           46.0          100
893     NaN           44.0          100
894     NaN           44.0          100
895     NaN           44.0          100
896     NaN           44.0          100
897     NaN           43.0           80
898     NaN           43.0           80
899     NaN           40.0           80

                                                    name sale_start  \
0                                               070Shake        NaN
1                           070Shake Tickets (21+ Event)        NaN
2      Life Is Beautiful Festival 3 Day Pass with Cha...        NaN
3                                              070 Shake        NaN
4                                               070Shake        NaN
5                                               070Shake        NaN
6                           070shake Tickets (17+ Event)        NaN
7                                              070 Shake        NaN
8                                               070Shake        NaN
9                                               070Shake        NaN
10                          070Shake Tickets (16+ Event)        NaN
11                                              070Shake        NaN
12                                              070Shake        NaN
10000                                               None       None
10001                                               None       None
10002                                               None       None
10003                                               None       None
10004                                               None       None
10005                                               None       None
10006                                               None       None
10007                                               None       None
10008                                               None       None
10009                                               None       None
10010                                               None       None
10011                                               None       None
10012                                               None       None
10013                                               None       None
10014                                               None       None
10015                                               None       None
10016                                               None       None
...                                                  ...        ...
870                                  Shark Reef Aquarium        NaN
871                                Bodies The Exhibition        NaN
872                      Titanic The Artifact Exhibition        NaN
873     New Britain Bees at Southern Maryland Blue Crabs        NaN
874                      Titanic The Artifact Exhibition        NaN
875                                  Shark Reef Aquarium        NaN
876     New Britain Bees at Southern Maryland Blue Crabs        NaN
877     New Britain Bees at Southern Maryland Blue Crabs        NaN
878                                Bodies The Exhibition        NaN
879                      Titanic The Artifact Exhibition        NaN
880                      Titanic The Artifact Exhibition        NaN
881     New Britain Bees at Southern Maryland Blue Crabs        NaN
882                                Bodies The Exhibition        NaN
883                      Titanic The Artifact Exhibition        NaN
884     New Britain Bees at Southern Maryland Blue Crabs        NaN
885                                Bodies The Exhibition        NaN
886                      Titanic The Artifact Exhibition        NaN
887     New Britain Bees at Southern Maryland Blue Crabs        NaN
888    Harry Potter and the Cursed Child (Parts One a...        NaN
889    Harry Potter and the Cursed Child (Parts One a...        NaN
890    Harry Potter and the Cursed Child (Parts One a...        NaN
891    Harry Potter and the Cursed Child (Parts One a...        NaN
892    Harry Potter and the Cursed Child (Parts One a...        NaN
893    Harry Potter and the Cursed Child (Parts One a...        NaN
894    Harry Potter and the Cursed Child (Parts One a...        NaN
895    Harry Potter and the Cursed Child (Parts One a...        NaN
896    Harry Potter and the Cursed Child (Parts One a...        NaN
897    Harry Potter and the Cursed Child (Parts One a...        NaN
898    Harry Potter and the Cursed Child (Parts One a...        NaN
899    Harry Potter and the Cursed Child (Parts One a...        NaN

            sale_start_date state  ticket_count  \
0                       NaN    CA          32.0
1                       NaN    CA          32.0
2                       NaN    NV         655.0
3                       NaN  Utah           9.0
4                       NaN    TX          66.0
5                       NaN    TX          14.0
6                       NaN    IL          36.0
7                       NaN    MI          36.0
8                       NaN    ON          12.0
9                       NaN    MA         113.0
10                      NaN    NY         190.0
11                      NaN    DC           8.0
12                      NaN    PA          71.0
10000  2019-06-28T17:00:00Z    NA           NaN

In [15]:
list(stubhub_test_df.columns)

['ID',
 'artist',
 'artist_id',
 'city',
 'create_ts',
 'date_UTC',
 'event_id',
 'highest_price',
 'listing_count',
 'lowest_price',
 'name',
 'state',
 'ticket_count',
 'venue']